html {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #253d5b;
    color: #cfbab3;
    font-weight: normal;
    font-family: 'Poppins', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    max-width: 1400px;
}
*{
    margin: 0;
    padding: 0;
}
li, ul {
    list-style: none;
    padding: 0;
    margin: 0 2.3vw;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, #4970a011, #253d5b);
        
}
header nav ul li:hover{
    cursor: pointer;
    color: #eedcd6;
    text-decoration: 3px underline;
    
}
header {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;  
    justify-content: end;
    flex-wrap: wrap;
    align-items: center; 
    overflow: hidden;
    background-color: #3b608d5b;
    position: fixed;
    width: 100%; 
    
}
main {
    margin: 0;
    padding: 50px 0 0 0;
    
}
section.welcome {
    top: 50px;
    width: 100%;
    height: 50vh;
}
.welcome {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;   
}
.major {
    border-bottom: 5px solid;
    font-size: 33px;
}
.line {
    border-bottom: 1px solid #eedcd623;
}
.Guide {
    background-color: rgba(202, 83, 83, 0.089);
    width: 100%;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    
}
.Guide h1 {
    padding-bottom: 70px;
    margin: 0 auto;
    font-size: 3.5vw;
}
.guide-box {
    margin: 15px 4em 15px 0;
    border: 3px solid #eedcd6;
    height: fit-content;
    padding: 20px;
    width: 65vw;
    align-self: flex-end;
    max-width: 500px;
    
}

.guide-box-left {
    margin: 15px 0  15px 4em;
    border: 3px solid #eedcd6;
    padding: 20px;
    height: fit-content;
    width: 65vw;
    max-width: 500px;
    
}
.Guide h2 {
    margin-bottom: 8px;
}
.indent {
    padding-left: 8px;
}
footer{
    text-align: center;
    padding: 30px 0;
}
footer a {
    text-decoration: none;
    color: #a88477;
}
footer a:hover {
    color: #cfbab3;
    text-decoration: underline;
}
footer p {
    padding: 8px;
}
.social-icon {  
    border: 2px solid #000000;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 12px 6px 0 6px;
    margin: 20px;
}
.social-icon:hover {
    background-color: #cfbab3;
}
.pad {
    padding-bottom: 20px;
    font-weight: bold;
}



